 {% extends "admin_base.html" %} 
{% load static %}
   {%block content%}
   <div class="container">
    <h2 class="mb-4">
        <i class="fas fa-user-plus"></i> Add Student
    </h2>
    {% if messages %}
    {% for m in messages %}
        <div class="alert alert-{{ m.tags }} alert-dismissible fade show">
            {{ m }}
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
    {% endfor %}
{% endif %}
   <form method="post">
    {% csrf_token %}
    <style>
        body{
            background-color:  #141B2D;
            color:white;
        }
    </style>
    <div class="mb-3">
        <label for="subjectname" class="form-label">Subject Name</label>
        <input type="text" class="form-control" id="subjectname" name="subjectname" required placeholder="Subject Name">
        
    </div>
     <div class="mb-3">
    <label for="subjectcode" class="form-label">Subject Code</label>
    <input type="text" class="form-control" id="subjectcode" name="subjectcode" placeholder="Subject Code">

</div>

<button type="submit" class="btn btn-success">
    <i class="fas fa-check-circle me-1"></i>Submit
</button>

</form>
   </div>
    {%endblock %}