{% extends "admin_base.html" %}
{% load static %}
{%block content%}
<style>
    video {
    pointer-events: none;
}
body{
    background-color: #141B2D;
}
.st{
    color:white;
}
.mt{
    background-color: #2B505B;
    border-radius: 10%;
    border:2px solid black;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}
.mt2{
    background-color: rgb(45, 97, 59);
    border-radius: 10%;
    border:2px solid black;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}
.mt3{
    background-color: #9D4916;
    border-radius: 10%;
    border:2px solid black;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}
.mt4{
    background-color: #4E2A44;
    border-radius: 10%;
    border:2px solid black;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}
.mt:hover, .mt2:hover, .mt3:hover,.mt4:hover{
    transform: translateY(-1px);
}
</style>

<h2 class="mb-4 text st"><i class="fa-solid fa-chalkboard-user"></i> Admin Dashboard</h2>
<div class="row g-4">
    <div class="col-md-5 col-lg-3">
        <a href="" class="text-decoration-none">
            <div class="card text-white mt " >
                <div class="card-body mt">
                    <div class="d-flex justify-content-between">
                        <div>
                            <h3>5</h3>
                            <p class="mb=0">Registered Student</p>
                        </div>
                        <i class="fas fa-users fa-2x"></i>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-5 col-lg-3">
        <a href="" class="text-decoration-none">
            <div class="card text-white mt2" >
                <div class="card-body mt2">
                    <div class="d-flex justify-content-between">
                        <div>
                            <h3>5</h3>
                            <p class="mb=0">Subjects Listed</p>
                        </div>
                        <i class="fas fa-book fa-2x"></i>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-5 col-lg-3">
        <a href="" class="text-decoration-none">
            <div class="card text-white mt3" >
                <div class="card-body mt3">
                    <div class="d-flex justify-content-between">
                        <div>
                            <h3>5</h3>
                            <p class="mb=0">Classes</p>
                        </div>
                        <i class="fas fa-school fa-2x"></i>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-5 col-lg-3">
        <a href="" class="text-decoration-none">
            <div class="card text-white mt4" >
                <div class="card-body mt4">
                    <div class="d-flex justify-content-between">
                        <div>
                            <h3>5</h3>
                            <p class="mb=0">Results Declared</p>
                        </div>
                        <i class="fas fa-users fa-2x"></i>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <video controls width="600" 
 autoplay loop muted playsinline>
    <source src="{% static 'videos/schoolvid.mp4' %}" type="video/mp4">
    Your browser does not support the video tag.
</video>

</div>
{%endblock %}