{% extends "base.html" %}
{% block content %} 

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-9">
            <div class="card shadow">
                <div class="card-header text-center bg-dark text-white">
                    <h3><i class="fas fa-user-shield"></i>Admin Login</h3>
                </div>
                <div class="card-body">
                    {%if error%}
                    <div class="alert alert-danger text-center"></div>
                    {%endif%}
                    <form method ="post">
                        {% csrf_token %}
                        <div>
                            <label for="username" class = "form-label"><i class="fas fa-user"></i>UserName</label>
                            <input type="text" name = "username" class="form-control" id ="username" placeholder ="UserName" required>
                        </div>
                        <div>
                            <label for="Password" class = "form-label"><i class="fas fa-lock"></i> Password</label>
                            <input type="Password" class="form-control" id ="Password" placeholder ="Password" name ="password" required>
                        </div>
                        <button type="submit" class ="btn btn-success w-100">
                            <i class="fas fa-sign-in-alt"></i>Login
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}