{% load static  %}
<style>
    .sidebar{
    min-height: 100vh;
    background-color:#0D0F14;
}
    .sidebar .nav-link{
        color:white;
    }
    .sidebar .nav-link:hover{
        color:black;
        background:white;
        
    }
</style>

<nav class="col-md-3 col-lg-2 sidebar collapse d-md-block pt-4">
    <div class="text-white text-center">
        <img src="{% static "images/admin1.jpeg" %}" alt="img" width= "160" height="90" class="rounded-circle mb-2">
        <h4>Admin</h4>
    </div>
    <ul class="nav flex-column">
        <li class="nav-item ">
            <a class="nav-link" href="{% url "admin_dashboard" %}"><i class="fas fa-home"></i> Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="collapse" href="#classesmenu">
    <i class="fas fa-chalkboard"></i> Classes
    <i class="fas fa-chevron-down float-end"></i>
</a>

<div id="classesmenu" class="collapse">
    <ul class="nav flex-column ms-3">
        <li class="nav-item">
            <a class="nav-link" href="{% url "create_class" %}">
                <i class="fas fa-plus"></i> Create Class
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url "manage_classes"%}">
                <i class="fas fa-table"></i> Manage Class
            </a>
        </li>
    </ul>
</div>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="collapse" href="#subjectmenu">
    <i class="fas fa-book"></i> Subject
    <i class="fas fa-chevron-down float-end"></i>
</a>

<div id="subjectmenu" class="collapse">
    <ul class="nav flex-column ms-3">
        <li class="nav-item">
            <a class="nav-link" href="{%url "create_subject"%}">
                <i class="fas fa-plus"></i> Create Subject
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{%url "manage_subject"%}">
                <i class="fas fa-table"></i> Manage Subject
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'add_subject_combination' %}">
                <i class="fas fa-layer-group"></i> Add Subject Combination
            </a>
        </li>

        
        <li class="nav-item">
            <a class="nav-link" href="{% url 'manage_subject_combination' %}">
                <i class="fas fa-layer-group"></i> Manage Subject Combination
            </a>
        </li>
    </ul>
</div>
        </li>
    <li class="nav-item">
          <a class="nav-link" data-bs-toggle="collapse" href="#studentmenu">
    <i class="fa-solid fa-user-graduate"></i> Student
    <i class="fas fa-chevron-down float-end"></i>
</a>

<div id="studentmenu" class="collapse">
    <ul class="nav flex-column ms-3">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'add_student' %}">
                <i class="fas fa-plus"></i> Add Student
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="">
                <i class="fas fa-layer-group"></i> Manage Student
            </a>
        </li>

        
        
    
    </ul>
</div>
        </li>
    <li class="nav-item">
          <a class="nav-link" data-bs-toggle="collapse" href="#resultmenu">
    <i class="fa-solid fa-check"></i> Result
    <i class="fas fa-chevron-down float-end"></i>
</a>

<div id="resultmenu" class="collapse">
    <ul class="nav flex-column ms-3">
        <li class="nav-item">
            <a class="nav-link" href="">
                <i class="fas fa-list"></i> Add Result
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="">
                <i class="fas fa-layer-group"></i> Manage Result
            </a>
        </li>

        
        
    </ul>
</div>
        </li>
 
    
      <li class="nav-item">
          <a class="nav-link" data-bs-toggle="collapse" href="#noticemenu">
    <i class="fa-solid fa-bell"></i> Notice
    <i class="fas fa-chevron-down float-end"></i>
</a>

<div id="noticemenu" class="collapse">
    <ul class="nav flex-column ms-3">
        <li class="nav-item">
            <a class="nav-link" href="">
                <i class="fas fa-list"></i> Add Notice
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="">
                <i class="fas fa-layer-group"></i> Manage Notice
            </a>
        </li>

        
        
    </ul>
</div>
        </li>

        <li class="nav-item ">
            <a class="nav-link" href=""><i class="fas fa-key"></i> Change Password</a>
        </li>
     
    </ul>
    
</nav>