<style>
.sidebar {
    min-height: 100vh;
    background-color: #0D0F14;
}
.sidebar .nav-link {
    color: white;
}
.sidebar .nav-link:hover {
    color: black;
    background: white;
}
</style>

<nav class="col-md-3 col-lg-2 sidebar collapse d-md-block pt-4">
    
    <div class="text-white text-center">
        <img src="{% static 'images/admin1.jpeg' %}" width="160" height="90" class="rounded-circle mb-2">
        <h4>Student</h4>
    </div>

    <ul class="nav flex-column">

        <li class="nav-item">
            <a class="nav-link" href="{% url 'student_dashboard' %}">
                <i class="fas fa-home"></i> Dashboard
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#classesmenu">
                <i class="fas fa-chalkboard"></i> Class Info
            </a>
        
        </li>

        <li class="nav-item">
            <a class="nav-link">
                <i class="fas fa-book"></i> Subject
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link">
                <i class="fas fa-user-graduate"></i> My Profile
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link">
                <i class="fa-solid fa-check"></i> Result
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link">
                <i class="fa-solid fa-bell"></i> Notice
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link">
                <i class="fas fa-key"></i> Exam Form
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link">
                <i class="fas fa-key"></i> Change Password
            </a>
        </li>

    </ul>
</nav>
